.booking-modal-wrap{float: left; width: 100%; margin-top: 80px;}
.booking-modal-wrap .common-wrap{max-width: 977px; padding: 0 16px;}
.booking-modal-inner{float: left; width: 100%; border-radius: 5px; box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.3); border-top: 5px solid #3c81f5; padding: 15px 20px 66px;}
.modal-close{float: right; width: 16px; height: 16px; cursor: pointer;}
.booking-modal-contents{width: 100%; max-width: 751px; margin: 0 auto; margin-top: 60px; overflow: hidden;}
.booking-modal-texts{float: left; width: 47.93608521970706%;}
.booking-modal-texts figure{float: left; width: 93px;}
.booking-modal-texts h3{float: left; width: 100%; margin-top: 20px; letter-spacing: normal;}
.booking-modal-texts p{float: left; padding-right: 17px; margin-top: 20px; letter-spacing: normal; letter-spacing: 0.4px;}
.booking-info{float: left; width: 100%; margin-top: 54px;}
.booking-info ul li{float: left; width: 100%; padding-left: 32px; margin-top: 10px; letter-spacing: 0.3px;}
.booking-info ul li:first-child{margin-top: 0; position: relative;}
.booking-info ul li:first-child:before{content: ''; width: 15px; height: 15px; position: absolute; background-image: url('../svgs/booking-modal/time.svg'); background-repeat: no-repeat; background-position: center center; background-size: 15px 15px; top: 5px; left: 1px;}
.booking-info ul li:nth-child(2){position: relative;}
.booking-info ul li:nth-child(2):before{content: ''; width: 21px; height: 17px; position: absolute; background-image: url(../svgs/booking-modal/pin.svg); background-repeat: no-repeat; background-position: center center; background-size: 15px 17px; top: 4px; left: -3px;}
.booking-info ul li:nth-child(3){position: relative;}
.booking-info ul li:nth-child(3):before{content: ''; width: 16px; height: 16px; position: absolute; background-image: url('../svgs/booking-modal/calendar.svg'); background-repeat: no-repeat; background-position: center center; background-size: 16px 16px; top: 4px; left: 0;}
.booking-voucher-card{float: left; width: 47.93608521970706%; margin-left: 3.994673768308921%; border: 1px solid rgba(165, 172, 198, 0.5); border-radius: 5px; text-align: center; padding: 30px; padding-bottom: 29px;}
.booking-voucher-card figure{width: 100px; margin: 0 auto; margin-top: 40px;}
.booking-voucher-card dfn{float: left; width: 100%; text-align: center; font-size: 20px; line-height: 30px; letter-spacing: normal; color: #616e99; margin-top: 40px;}
.booking-voucher-card span{width: 300px; height: 50px; display: inline-block; font-size: 18px; line-height: 50px; letter-spacing: 0.5px; font-weight: 700; color: #3c81f5; background-color: #e5f1ff; border-radius: 3px; text-align: center; margin-top: 20px;}
.booking-voucher-card p{float: left; width: 100%; text-align: center; font-size: 14px; line-height: 19px; letter-spacing: normal; color: #616e99; margin-top: 20px;}
.booking-voucher-card > a {text-align: center; font-size: 14px; line-height: 20px; color: #3c81f5; margin-top: 20px; width: auto; }
.booking-voucher-card > a:hover{text-decoration: underline;}
.voucher-card-btn{float: left; width: 100%; margin-top: 62px;}
.booking-voucher-card .btn.large{width: 300px; font-weight: 700;}
.booking-voucher-card h4{letter-spacing: -.3px;}
.booking-voucher-card figure{margin-top: 38px;}
.booking-voucher-card dfn{margin-top: 42px;}

/* =======================================================================================================
============================================ Responsive style ========================================== */

/*		Mobile Layout: 320px and 480px and more but less than or equal to 767px.
----------------------------------------------------------------------------------
*/

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .booking-modal-wrap .common-wrap {padding: 0}
    .booking-modal-inner{padding: 0; box-shadow: none; border-radius: 0;}
    .booking-modal-contents{max-width: 100%;}
    .booking-modal-texts {width: 100%; padding: 0 30px;}
    .booking-voucher-card{width: 100%; margin-left: 0; margin-top: 30px;}
    .modal-close{margin-top: 15px; margin-right: 20px;}
    .booking-modal-wrap {margin-top: 0; padding-bottom: 50px;}
    .booking-modal-contents {margin-top: 55px;}
    .booking-info {margin-top: 20px;}
    .booking-voucher-card span{margin-top: 18px;}
    .booking-voucher-card p{margin-top: 22px; letter-spacing: 0.2px;}
    .booking-voucher-card > a{letter-spacing: 0.2px;}
    .booking-voucher-card span{width: 100%;}
    .voucher-card-btn{width: 100%;}
    .booking-voucher-card .btn.large{width: 100%;}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .booking-voucher-card .btn.large {width: 100%;}
    .booking-voucher-card h4 {text-align: center; width: 100%; }
}