
.quiz-6-content{padding-top: 0px}
.quiz-6-content .progress-wrap{float: left; width: 100%; padding: 11px 0 11px; background-color: #1e306e; height: 60px; position: relative}
.quiz-6-content .progress-wrap:after{content: '';position: absolute;width: 100%;height: 5px;background-color: #3c81f5;top: auto;bottom: -5px;left: 0;z-index: 1}
.progress-wrap .common-wrap{max-width: 1416px}
.progress-details{float: left;width: 100%}
.logo-content{float: left;width: 195px;height: auto;}
.close-btn{float: left; width: calc(100% - 195px);position: relative;padding: 10px 0 0; cursor: pointer;}
.close-btn img {float: right; border-radius: 1px; position: absolute; right: 8px; top: 8px;}
.close-btn:after { content: ''; position: absolute; width: 40px; height: 40px; background-color: #ffffff; opacity: 0.2; border-radius: 50%;left: auto; right: 0; top: 0px;}

.quiz-email-wrap{float: left;width: 100%;background-color: #e5f1ff;padding: 40px 0 100px;height: 96vh}
.back-side-btn{float: left; width: 100%; position: absolute; top: 35px; left: 39px;}
.back-side-btn a{font-size: 14px; line-height: 20px; color: #3c81f5; position: relative; padding-left: 17px;}
.back-side-btn a:hover{text-decoration: underline}
.back-side-btn a:before { content: ''; position: absolute; background-image: url(../img/quiz-results/arrow-left.png); background-position: center; background-repeat: no-repeat; background-size: 16px 16px; width: 16px; height: 16px; left: -1px; top: 2px; }
.quiz-email-wrap .common-wrap {max-width: 576px;}
.quiz-email-wrap h3 {text-align: center; margin-top: 40px;letter-spacing: -0.5px;}
.quiz-email-details{float: left;width: 100%;margin-top: 35px}
.quiz-email-row{float: left;width: 100%;}
.quiz-email-row input:not([type="submit"]){font-size: 20px;text-align: center;line-height: 30px}
.quiz-intro-text{float: left;width: 100%;margin-top: 20px}
.quiz-intro-text h6{font-size: 14px; text-align: center; line-height: 20px; font-family: 'Muli', sans-serif; color: #616e99;font-weight:400;position: relative;letter-spacing: normal;max-width: 430px; margin: 0 auto; }
.quiz-intro-text h6:before{ content: ''; width: 15px; height: 15px; position: absolute; top: 3px; left: -11px; background-image: url(../svgs/checkout/info.svg); background-size: 15px 15px; background-position: center center; background-repeat: no-repeat}
.get-result-btn{float: left; width: 100%; display: flex; justify-content: center; margin-top: 40px}
.get-result-btn .action-red{background-color:rgba(250, 85, 110, 0.5) }

/*		Mobile Layout: 320px and 480px and more but less than or equal to 767px.
----------------------------------------------------------------------------------
*/
@media only screen and (min-width: 320px) and (max-width: 767px) {
	
	.quiz-6-content .progress-wrap {padding: 18px 0 0px;}
	.quiz-6-content .progress-wrap:after{width: 100%}
	.logo-content {width: 129px;}
	.close-btn{width: 100%;  padding: 5px 0 0; }
	.close-btn img{right: 8px; top: -26px;}
	.close-btn:after{left: auto; right: 0; top: auto; bottom: 0;}
	
	
	
	.quiz-email-wrap{min-height: 760px}
	.back-side-btn{top: 11px; left: 23px;}
	.quiz-email-wrap h3 {margin-top: 20px;}
	.quiz-email-details{margin-top: 13px;}
	.quiz-intro-text{margin-top: 12px}
	.quiz-intro-text h6:before{left: 0}
    .get-result-btn { position: fixed; left: 0; top: auto; bottom: 0; padding: 16px; background-color: #ffffff; border-radius: 10px;  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2), 0 -11px 6px -10px rgba(0, 0, 0, 0.05); }
	
	
	
}
