.claremont-text-wrap{float: left; width: 100%; padding-top: 83px; text-align: center;}
.claremont-text-wrap .common-wrap{max-width: 980px;}
.claremont-text-wrap h1{letter-spacing: 0}
.claremont-text-wrap p{font-size: 20px; line-height: 30px; margin-top: 19px; color: #616e99}

.claremont-slider-wrap{float: left; width: 100%; padding-top: 65px;}
.breadcrumb-bar {padding: 16px 0 0px; }
.breadcrumb-bar address{font-size: 20px; line-height: 30px; font-weight: 700;}
.overview-wrap p { margin-top: 9px; }


.content-inner {width: 46.05263157894737%;  margin-right: 7.894736842105263%; }
.content-inner-wrap {margin-top: 23px; }
.slider-controller-item, .slider-controller-item img{border-radius: 3px; padding: 0;}
.slider-controller-item{margin-right: 17px; width: 65px !important;}
.slider-controller-wrap .slick-track{margin-left: 0; margin-right: 0; width: 200px !important;}

.claremont-btn .large {width: 262px}

.store-content-map{float: left; width: 46.05263157894737%; margin-top: -30px;}
.store-content-map-inner{float: left; width: 100%;}
.store-content-map address{padding-left: 31px; position: relative; margin-top: 7px;}
.store-content-map address:before{content: ''; width: 17px; height: 17px; background-image: url(../svgs/store-page/pin-blue.svg); background-size: 17px 17px; background-position: center center; background-repeat: no-repeat; position: absolute; top: 5px; left: 0;}
.slider-controller-wrap{margin-left: 0;}
.store-content-map-thumb{float: left; width: 100%; margin-top: 21px; padding-bottom: 40px; box-shadow: inset 0 -1px 0 0 #dce1e6;}
.store-map-btn{float: left; width: 100%; margin-top: 20px;}
.store-map-btn .small{width: 160px;}
.trading-hours{float: left; width: 100%; margin-top: 40px; padding-bottom: 40px; box-shadow: inset 0 -1px 0 0 #dce1e6;}
.trading-hours-row{float: left; width: 100%; margin-top: 10px;}
.trading-hours-row span, .trading-hours-row dfn{font-size: 16px; line-height: 26px; color: #1e306e; }
.trading-hours dfn{color: #616e99;}
.overview-wrap{padding-bottom: 40px; box-shadow: inset 0 -1px 0 0 #dce1e6; margin-top: 10px;}
.claremont-appointment-wrap{float: left; width: 100%;}
.claremont-appointment-inner{float: left; width: 100%;}
.claremont-appointment-content{float: left; width: 46.05263157894737%; margin-top: -46px; padding-top: 22px;}
.claremont-appointment-item{float: left; width: 100%; padding-bottom: 40px; box-shadow: inset 0 -1px 0 0 #dce1e6;}
.claremont-appointment-item:nth-child(2){padding-bottom: 0; margin-top: 40px; box-shadow: none;}
.claremont-appointment-item figure{margin-top: 20px;}
.claremont-appointment-item p{margin-top: 20px;}
.claremont-appointment-item p + p{margin-top: 25px;}
.claremont-btn{float: left; width: 100%; margin-top: 40px;}/*
.input-row label{margin-bottom: 3px;}*/
.input-row textarea{min-height: 128px}
input:not([type="submit"]){margin-top: 0;}


.claremont-appointment-form{float: left; width: 46.05263157894737%; margin-left: 7.894736842105263%; padding-top: 40px;}
.claremont-appointment-form-inner{float: left; width: 100%; max-width: 360px; margin-top: 40px; box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.3); border-radius: 5px; padding: 30px;}
.claremont-appointment-form-inner .submit{float: left; width: 100%;  margin-top: 20px;}
.claremont-appointment-form-inner .submit input[type="submit"]{width: 100%; text-transform: capitalize;}
.input-row{margin-top: 21px;}
.selectric-row .selectric-wrapper{margin-top: 6px;}
.textarea{margin-top: 14px;}
/* telephone style */
.intl-tel-input { position: relative; display: inline-block; float: left; width: 100%;}
.intl-tel-input .flag-dropdown {width: 100%; max-width: 85px; background-color: #e5f1ff; border: none; border-right: 0; top: 1px; bottom: 1px; padding: 0; left: 1px;}
.intl-tel-input .selected-flag { z-index: 1; position: relative; width: 100%; height: 100%; padding: 0; }
.intl-tel-input .selected-flag .arrow.up { border: none; }
.intl-tel-input input[type=tel]{padding-left: 101px;}
.intl-tel-input .selected-flag .iti-flag {left: auto; right: 16px; top: 50%; margin-top: 0; transform: translateY(-50%); }
.intl-tel-input .flag-dropdown:hover .selected-flag {  background-color: #e5f1ff;  }
.intl-tel-input .selected-flag .arrow{left: auto}
.intl-tel-input .selected-flag .arrow { position: relative; top: 0; margin-top: 0; left: auto; width: 9px; height: 0; border-left: 0; border-right: 0; border-top: 0;  border-radius: 92px; background-image: url(../svgs/contact/chevron-down.svg); width: 16px; height: 16px; background-size: cover; background-repeat: no-repeat; background-position: center center; }
.intl-tel-input .country-list{max-width: 300px; width: 300px;}
.intl-tel-input .country-list .iti-flag{display: none}
.intl-tel-input .country-list .divider, preferred{display: none;}/*
.intl-tel-input { margin-top: 6px; }*/


.iti-flag{display: none}
.intl-tel-input.separate-dial-code .selected-dial-code{padding-left: 0; font-size: 16px; line-height: 20px; padding-top: 3px; font-weight: 700; padding-left: 16px;}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 .selected-flag { width: 85px; outline: none}
.intl-tel-input.separate-dial-code .selected-flag {background-color: #e5f1ff; display: block;  padding: 10px 0; outline: none}
.intl-tel-input.allow-dropdown .flag-container, .intl-tel-input.separate-dial-code .flag-container {float: left; width: 100%; }
.intl-tel-input {float: left; width: 100%; }
.intl-tel-input .country-list.dropup { bottom: -10px; margin-bottom: -1px; position: relative; float: left; width: 100%; }
.intl-tel-input .country-list { position: relative; overflow-x: hidden}
.intl-tel-input .selected-flag .iti-arrow{content: ''; position: absolute; border: none; left: auto; top: 18px; width: 16px;height: 16px; background-position: center center; background-repeat: no-repeat; background-size: cover; background-image: url(../svgs/contact/chevron-down.svg); }
.intl-tel-input.allow-dropdown .flag-container:hover .selected-flag { background-color: #e5f1ff; }
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input, .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input[type=text], .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input[type=tel]{padding-left: 101px;}

/* telephone style */
/* end-contact-section */




















@media only screen and (min-width: 320px) and (max-width: 767px) {
 input[type="text"],input[type="email"],input[type="tel"],input[type="search"],input[type="number"],input[type="submit"],input[type="password"],select,textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;}

    
    .claremont-text-wrap {padding-top: 32px;}
    .claremont-text-wrap .common-wrap{padding: 0 16px;}
    .claremont-text-wrap h1 {letter-spacing: 0.2px;}
    .claremont-text-wrap p { font-size: 18px; line-height: 28px; margin-top: 17px; }
    
    .claremont-slider-wrap{padding-top: 49px;}
    .breadcrumb-bar{padding: 0}
    .breadcrumb-bar address { font-size: 18px; line-height: 28px; letter-spacing: .1px; }
    .input-row { margin-top: 20px; }
    .review-wrap{padding: 0; margin-top: 8px;}
    .review-wrap span, .review-wrap a { font-size: 16px; line-height: 26px; }
    .review-wrap a:nth-child(2){margin-left: 3%;}
    .content-inner-wrap{padding: 0}
    .slider-controller-wrap{display: block}
    .slider-item img {border-radius: 5px;}
    .overview-title-text{padding: 0}
    .overview-wrap{margin-top: 13px; padding-bottom: 24px;}
    .store-content-map{width: 100%; margin-top: 24px;}
    .store-content-map address{margin-top: 8px;}
    .store-content-map-thumb {margin-top: 24px; padding-bottom: 24px;}
    .store-map-btn {margin-top: 25px; }
    .store-map-btn .small{width: 100%}
    .trading-hours {margin-top: 24px; padding-bottom: 32px;}
    .trading-hours h4 { font-size: 18px; line-height: 28px;}
    .claremont-appointment-inner{display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; flex-flow: row wrap;}
    .trading-hours-row {margin-top: 9px; }
    .claremont-appointment-wrap .common-wrap{padding: 0}
    .claremont-appointment-content{margin-top: 24px; order: 2; width: 100%; padding: 0 16px;}
    .claremont-appointment-item{padding-bottom: 24px;}
    .claremont-appointment-form{width: 100%; margin-left: 0; padding-top: 24px;}
    .claremont-appointment-item h4{font-size: 18px; line-height: 28px;}
    .claremont-appointment-form h4{padding: 0 16px; font-size: 18px; line-height: 28px;}
    .claremont-appointment-form-inner{margin-top: 24px; max-width: 100%}
    .claremont-btn .large{width: 100%; line-height: 50px;}
    .claremont-appointment-item figure, .claremont-appointment-item p, .claremont-btn{ margin-top: 24px; }
    .claremont-appointment-item:nth-child(2){margin-top: 26px;}
    .claremont-appointment-item:nth-child(2) p{margin-top: 15px;}
    .claremont-appointment-content .claremont-appointment-item p + p { margin-top: 26px; }
    .input-row:nth-child(3) input[type="tel"]{margin-top: 9px;}
    .claremont-appointment-form-inner .submit{margin-top: 10px;}
    .intl-tel-input{margin-top: 4px;}
    .content-inner{width: 100%; margin: 0}
    .textarea{margin-top: 14px;}
    .enquiry-call-to-action .common-wrap{padding: 0}
    .enquiry-call-to-action .common-wrap{padding: 0}
    .sign-up-wrap{margin-top: 60px;}
}




@media only screen and (min-width: 768px) and (max-width: 991px) {
 input[type="text"],input[type="email"],input[type="tel"],input[type="search"],input[type="number"],input[type="submit"],input[type="password"],select,textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;}

    .content-wrap{margin-top: 15px;}
    .store-content-map{margin-top: 0;}
    .store-content-map h4{font-size: 20px; line-height: 30px;}
    .claremont-appointment-item:nth-child(2) {margin-top: 30px;}
    .claremont-appointment-content {width: 48%; margin-top: -40px; padding-top: 0;}
    .claremont-appointment-form{float: right; width: 48%; margin-left: 0;}
    .claremont-appointment-item {padding-bottom: 30px;}
    .claremont-btn{margin-top: 30px;}
    .overview-wrap{padding-bottom: 30px;}
}


